<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <!-- Title & Slogan -->
      <div class="col 16 s12">
        <h5 class="white-text">StoryBooks</h5>
        <p>Share your life with the <i class="fa fa-globe fa-2x"></i></p>
      </div>
      <!-- Links -->
      <div class="col 14 offset-12 s12">
        <h6 class="white-text">Links</h6>
        <ul>
          <li>
            <a href="/stories">Public Stories</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © {{currentYear}} StoryBooks
    </div>
  </div>
</footer>
