body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper .fa-bars {
  font-size: 1.5rem;
}

footer {
  margin-top: 1.5rem;
}

.margin-right-zero {
  margin-right: 0 !important;
}
